* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: "Cambria Math";
	color: #003;
	font-size: 18px;
}

a {
	color: #d2fafc;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #020281;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
	width: 800px;
	height: 350px;
	overflow: hidden;
	position: relative;
	background: url('../images/dot1.gif') left 45px repeat-x;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	margin-top: 50px;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/biggerdot1.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #020281;
					font-size: 48px;
					margin: 20px 0;
				}
				#issues li p {
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	margin-left: 80px;
	margin-right: 80px;
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
			}
			#grad_right {
		        right: 0;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next1.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev1.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
#top {
	margin-right: auto;
	margin-left: auto;
	height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url(../images/sea.jpg);
}
#header li {
	float: left;
	list-style-type: none;
	width: 90px;
	text-align: center;
	font-family: "Cambria Math";
	font-size: 12px;
	color: #069;
}
#main p {
	font-size: 42px;
	color: #006;
	text-align: center;
}
#main {
	height: 90px;
	width: 360px;
	margin: auto;
	padding-top: 205px;
}
#header {
	width: 270px;
	padding-top: 10px;
	float: right;
	height: 50px;
	margin-right: 10px;
}
#portfoio {
	width: 980px;
	height: 470px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 12px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#portfoio p {
}
#works li {
	float: left;
	width: 300px;
	list-style-type: none;
	height: 172px;
	margin-right: 20px;
	margin-bottom: 30px;
}
#works li img {
	height: 100%;
	width: 100%;
	border: 1px solid #CCC;
}
#portfoio p {
	font-size: 36px;
	width: 135px;
	margin-right: auto;
	margin-left: auto;
}
#about p {
	font-size: 36px;
	width: 103px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
#about {
	width: 980px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	height: 420px;
}
#profile-photo {
	margin-left: 10px;
	height: 140px;
	width: 140px;
	float: left;
	margin-right: 30px;
}
#profile-photo img {
	height: 100%;
	width: 100%;
}
#works {
	width: 980px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
#profile-photo li {
	font-size: 18px;
	list-style-type: none;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
#contact {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#contact p {
	font-size: 36px;
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
#profile-text {
	font-size: 18px;
	line-height: 30px;
	width: 770px;
	float: right;
	margin-right: 30px;
	margin-bottom: 100px;
}
