@charset "UTF-8";
body, button, input, select, textarea { font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "メイリオ", Meiryo, "ＭＳ ゴシック", "MS Gothic", Osaka, Verdana, Arial, Helvetica, sans-serif; color: #333; }

code, kbd, pre, samp { font-family: Courier, "Courier New", "メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "ＭＳ ゴシック", "MS Gothic", monospace; }

/* html5 Block initialize. */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

/* Basic Layout initialize. */
html { overflow-y: scroll; background: #fff; color: #000; font-size: 10px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; }

a { color: #000; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Basic Elements. */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

p { margin: 0; }

code, kbd, pre, samp { font-size: 1em; }

pre { margin: 0; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

table { border-collapse: collapse; border-spacing: 0; }

/* Listing Elements. */
menu, dl, ol, ul, dd, li { margin: 0; padding: 0; }

nav ul, nav ol { list-style: none; list-style-image: none; }

/* Form Elements. */
form { margin: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button { line-height: normal; text-transform: none; -webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled] { cursor: default; }

input { line-height: normal; }
input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

select { text-transform: none; }

textarea { overflow: auto; vertical-align: top; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

/* Multimedia Elements And Canvas Element. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

ul, ol { margin: 0; padding: 0; }
ul li, ol li { list-style: none; }

/* Clearfix. */
.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }

/* Preset Margin and Padding Styles. */
.mt00 { margin-top: 0px !important; }

.mb00 { margin-bottom: 0px !important; }

.mt05 { margin-top: 5px !important; }

.mb05 { margin-bottom: 5px !important; }

.mt10 { margin-top: 10px !important; }

.mb10 { margin-bottom: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mb15 { margin-bottom: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mb20 { margin-bottom: 20px !important; }

.mt25 { margin-top: 25px !important; }

.mb25 { margin-bottom: 25px !important; }

.mt30 { margin-top: 30px !important; }

.mb30 { margin-bottom: 30px !important; }

.mt35 { margin-top: 35px !important; }

.mb35 { margin-bottom: 35px !important; }

.mt40 { margin-top: 40px !important; }

.mb40 { margin-bottom: 40px !important; }

.mt45 { margin-top: 45px !important; }

.mb45 { margin-bottom: 45px !important; }

.mt50 { margin-top: 50px !important; }

.mb50 { margin-bottom: 50px !important; }

.pt00 { padding-top: 0px !important; }

.pb00 { padding-bottom: 0px !important; }

.pt05 { padding-top: 5px !important; }

.pb05 { padding-bottom: 5px !important; }

.pt10 { padding-top: 10px !important; }

.pb10 { padding-bottom: 10px !important; }

.pt15 { padding-top: 15px !important; }

.pb15 { padding-bottom: 15px !important; }

.pt20 { padding-top: 20px !important; }

.pb20 { padding-bottom: 20px !important; }

.pt25 { padding-top: 25px !important; }

.pb25 { padding-bottom: 25px !important; }

.pt30 { padding-top: 30px !important; }

.pb30 { padding-bottom: 30px !important; }

.pt35 { padding-top: 35px !important; }

.pb35 { padding-bottom: 35px !important; }

.pt40 { padding-top: 40px !important; }

.pb40 { padding-bottom: 40px !important; }

.pt45 { padding-top: 45px !important; }

.pb45 { padding-bottom: 45px !important; }

.pt50 { padding-top: 50px !important; }

.pb50 { padding-bottom: 50px !important; }

.g-outer .g-header { z-index: 3; }
.g-outer .g-layout { position: relative; z-index: 0; }
.g-outer .g-footer { z-index: 2; }
.g-outer.is-rwd-def { position: relative; overflow: hidden; padding-left: 200px; zoom: 1; }
.g-outer.is-rwd-mid { position: relative; min-width: 1024px; padding-top: 60px; }
.g-outer.is-rwd-mid2small { position: relative; padding-top: 60px; }
.g-outer.is-rwd-small { position: relative; padding-top: 40px; }

/** g-header */
.g-header .g-header_logo span { overflow: hidden; text-indent: -9999px; }
.g-header a { outline: 0; }

.is-rwd-def .g-header { -webkit-box-shadow: 0 0 4px #999; -moz-box-shadow: 0 0 4px #999; box-shadow: 0 0 4px #999; position: fixed; left: 0; top: 0; bottom: 0; width: 200px; background-color: #ffffff; }
.is-rwd-def .g-header .g-header_inner { position: absolute; width: 200px; min-height: 100%; background-color: #ffffff; }
.is-rwd-def .g-header .g-header_logo { padding-top: 40px; margin-bottom: 34px; }
.is-rwd-def .g-header .g-header_logo span { display: block; background: url(/shared/img/logo1.png) no-repeat 0 0; margin: 0 auto; width: 146px; height: 126px; }

.is-rwd-def .g-header-social { margin: 0 20px; padding-top: 10px; background: url(/shared/img/layout/line_dash.png) repeat-x 0 0; }
.is-rwd-def .g-header-social .g-header-social_fb { position: relative; overflow: hidden; display: block; padding: 5px; border: 1px solid #c3d4ec; background-color: #edeff4; color: #305c9a; font-size: 11px; text-decoration: none; zoom: 1; }
.is-rwd-def .g-header-social .g-header-social_fb i { float: left; display: inline-block; margin-right: 5px; width: 18px; height: 18px; background: url(/shared/img/icon/sns_facebook_01.png); }
.is-rwd-def .g-header-social .g-header-social_fb:hover, .is-rwd-def .g-header-social .g-header-social_fb:focus { background-color: #fff; }

.is-rwd-def .g-header-nav a { display: block; }
.is-rwd-def .g-header-nav a span { overflow: hidden; display: block; text-indent: -9999px; }
.is-rwd-def .g-header-nav .g-header-nav_handle { display: none; }

.is-rwd-def .g-header-nav-item .g-header-nav-item_name { position: relative; margin: 0 20px; background: url(/shared/img/layout/line_dash.png) repeat-x 0 0; z-index: 1; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_name a { box-sizing: border-box; padding: 19px 0; height: 51px; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_name a:focus, .is-rwd-def .g-header-nav-item .g-header-nav-item_name a:hover { background: url(/shared/img/arrow/red_01.png) no-repeat right center; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_name span { margin: 0 auto; height: 13px; background: url(/shared/img/menu/g_header_nav_01.png); }
.is-rwd-def .g-header-nav-item .g-header-nav-item_handle { display: none; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content { display: none; position: absolute; top: 0; left: 0; bottom: 0; width: 200px; margin-left: 200px; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li { text-align: center; font-size: 14px; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li:first-child { margin-top: 0; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li i { display: none; position: absolute; top: 50%; right: 10px; margin-top: -6px; width: 8px; height: 12px; background: url(/shared/img/arrow/red_01.png) no-repeat 0 0; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li span { display: block; position: absolute; left: 50%; top: 50%; margin-top: -6px; height: 12px; background: url(/shared/img/gnav-sub_01.png); }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li a { position: relative; height: 51px; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li a:focus, .is-rwd-def .g-header-nav-item .g-header-nav-item_content li a:hover { background-color: #a6010d; }
.is-rwd-def .g-header-nav-item .g-header-nav-item_content li a:focus i, .is-rwd-def .g-header-nav-item .g-header-nav-item_content li a:hover i { display: block; }
.is-rwd-def .g-header-nav-item.is-current .g-header-nav-item_name { margin-left: 0; margin-right: -24px; padding-right: 24px; background-image: url(/shared/img/layout/ribbon.png); background-repeat: no-repeat; background-position: right 0; }
.is-rwd-def .g-header-nav-item.is-current .g-header-nav-item_name a { background-color: #e4001f; }
.is-rwd-def .g-header-nav-item.is-current + li .g-header-nav-item_name { background: none; }
.is-rwd-def .g-header-nav-item.is-show-content .g-header-nav-item_content { display: block; background-color: #cc000e; }
.is-rwd-def .g-header-nav-item.has-top .g-header-nav-item_name span { width: 34px; background-position: 0 0; }
.is-rwd-def .g-header-nav-item.has-product ul { padding-top: 255px; }
.is-rwd-def .g-header-nav-item.has-product .g-header-nav-item_name span { width: 55px; background-position: 0 -20px; }
.is-rwd-def .g-header-nav-item.has-product .g-nav_01 span { margin-left: -19px; width: 39px; background-position: 0 0; }
.is-rwd-def .g-header-nav-item.has-product .g-nav_02 span { margin-left: -38px; width: 78px; background-position: 0 -20px; }
.is-rwd-def .g-header-nav-item.has-brand ul { padding-top: 305px; }
.is-rwd-def .g-header-nav-item.has-brand .g-header-nav-item_name span { width: 55px; background-position: 0 -40px; }
.is-rwd-def .g-header-nav-item.has-brand .g-nav_01 span { margin-left: -41px; width: 83px; height: 13px; background-position: 0 -60px; }
.is-rwd-def .g-header-nav-item.has-brand .g-nav_02 span { margin-left: -55px; width: 111px; background-position: 0 -80px; }
.is-rwd-def .g-header-nav-item.has-brand .g-nav_03 span { margin-left: -23px; width: 47px; background-position: 0 -100px; }
.is-rwd-def .g-header-nav-item.has-brand .g-nav_04 span { margin-left: -24px; width: 49px; background-position: 0 -120px; }
.is-rwd-def .g-header-nav-item.has-brand .g-nav_05 span { margin-left: -45px; width: 90px; background-position: 0 -140px; }
.is-rwd-def .g-header-nav-item.has-special ul { padding-top: 356px; }
.is-rwd-def .g-header-nav-item.has-special .g-header-nav-item_name span { width: 128px; background-position: 0 -60px; }
.is-rwd-def .g-header-nav-item.has-special .g-nav_01 span { margin-left: -73px; width: 145px; background-position: 0 -180px; }
.is-rwd-def .g-header-nav-item.has-campaign ul { padding-top: 407px; }
.is-rwd-def .g-header-nav-item.has-campaign .g-header-nav-item_name span { width: 77px; background-position: 0 -80px; }
.is-rwd-def .g-header-nav-item.has-campaign .g-nav_01 span { margin-left: -54px; width: 109px; background-position: 0 -220px; }
.is-rwd-def .g-header-nav-item.has-news ul { padding-top: 459px; }
.is-rwd-def .g-header-nav-item.has-news .g-header-nav-item_name span { width: 108px; background-position: 0 -100px; }
.is-rwd-def .g-header-nav-item.has-news .g-nav_01 span { margin-left: -66px; width: 132px; background-position: 0 -260px; }
.is-rwd-def .g-header-nav-item.has-company ul { padding-top: 306px; }
.is-rwd-def .g-header-nav-item.has-company .g-header-nav-item_name span { width: 55px; background-position: 0 -120px; }
.is-rwd-def .g-header-nav-item.has-company .g-nav_01 span { margin-left: -68px; width: 139px; background-position: 0 -300px; }
.is-rwd-def .g-header-nav-item.has-company .g-nav_02 span { margin-left: -26px; width: 53px; background-position: 0 -320px; }
.is-rwd-def .g-header-nav-item.has-company .g-nav_03 span { margin-left: -26px; width: 53px; background-position: 0 -340px; }
.is-rwd-def .g-header-nav-item.has-company .g-nav_04 span { margin-left: -43px; width: 86px; background-position: 0 -360px; }
.is-rwd-def .g-header-nav-item.has-company .g-nav_05 span { margin-left: -26px; width: 53px; background-position: 0 -380px; }
.is-rwd-def .g-header-nav-item.is-current.has-top .g-header-nav-item_name span { background-position: -200px 0; }
.is-rwd-def .g-header-nav-item.is-current.has-product .g-header-nav-item_name span { background-position: -200px -20px; }
.is-rwd-def .g-header-nav-item.is-current.has-brand .g-header-nav-item_name span { background-position: -200px -40px; }
.is-rwd-def .g-header-nav-item.is-current.has-special .g-header-nav-item_name span { background-position: -200px -60px; }
.is-rwd-def .g-header-nav-item.is-current.has-campaign .g-header-nav-item_name span { background-position: -200px -80px; }
.is-rwd-def .g-header-nav-item.is-current.has-news .g-header-nav-item_name span { background-position: -200px -100px; }
.is-rwd-def .g-header-nav-item.is-current.has-company .g-header-nav-item_name span { background-position: -200px -120px; }

.is-rwd-def .g-header.is-opened .g-header-nav-item.is-show-content .g-header-nav-item_content { display: block; }

.is-rwd-mid .g-header { position: fixed; left: 0; top: 0; width: 100%; min-width: 1024px; height: 60px; background-color: #ffffff; }
.is-rwd-mid .g-header .g-header_inner { -webkit-box-shadow: 0 0 4px #999; -moz-box-shadow: 0 0 4px #999; box-shadow: 0 0 4px #999; background-color: #ffffff; height: 60px; }
.is-rwd-mid .g-header .g-header_nav-handle { display: none; }
.is-rwd-mid .g-header .g-header_logo span { position: relative; float: left; top: 3px; margin-left: 10px; background: url(/shared/img/logo2.png) no-repeat 0 0; width: 244px; height: 51px; }
.is-rwd-mid .g-header .g-header-social { overflow: hidden; position: absolute; right: 18px; top: 19px; display: block; width: 25px; height: 25px; }
.is-rwd-mid .g-header .g-header-social a { display: block; width: 25px; height: 25px; text-indent: -9999px; background: url(/shared/img/icon/sns_facebook_03.png) no-repeat 0 0; }

.is-rwd-mid .g-header-nav { float: left; margin-left: 40px; }
.is-rwd-mid .g-header-nav a { display: block; }
.is-rwd-mid .g-header-nav a span { overflow: hidden; display: block; text-indent: -9999px; }

.is-rwd-mid .g-header-nav-item { float: left; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_name i { display: none; position: absolute; left: 50%; bottom: 5px; margin-left: -6px; width: 12px; height: 8px; background: url(/shared/img/arrow/red_02.png) no-repeat 0 0; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_name span { position: relative; top: 25px; margin: 0 auto; height: 12px; background-image: url(/shared/img/menu/g_header_nav_02.png); background-repeat: no-repeat; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_name a { position: relative; height: 60px; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_name a:focus i, .is-rwd-mid .g-header-nav-item .g-header-nav-item_name a:hover i { display: block; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_handle { display: none; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content { display: none; overflow: hidden; position: absolute; left: 0; top: 60px; width: 100%; zoom: 1; font-size: 13px; background-color: #cc000e; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content ul { overflow: hidden; zoom: 1; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content li { float: left; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content i { display: none; position: absolute; left: 50%; bottom: 5px; margin-left: -6px; width: 12px; height: 8px; background: url(/shared/img/arrow/red_02.png) no-repeat 0 0; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content span { display: block; height: 14px; background: url(/shared/img/gnav-sub_01.png); }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content a { position: relative; padding: 15px 15px; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content a:focus, .is-rwd-mid .g-header-nav-item .g-header-nav-item_content a:hover { background-color: #a6010d; }
.is-rwd-mid .g-header-nav-item .g-header-nav-item_content a:focus i, .is-rwd-mid .g-header-nav-item .g-header-nav-item_content a:hover i { display: block; }
.is-rwd-mid .g-header-nav-item.has-top { width: 54px; }
.is-rwd-mid .g-header-nav-item.has-top .g-header-nav-item_name span { width: 30px; background-position: 0 0; }
.is-rwd-mid .g-header-nav-item.has-top .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-top .g-header-nav-item_name a:hover span { background-position: -400px 0; }
.is-rwd-mid .g-header-nav-item.has-product { width: 75px; }
.is-rwd-mid .g-header-nav-item.has-product ul { padding-left: 348px; }
.is-rwd-mid .g-header-nav-item.has-product .g-header-nav-item_name span { width: 50px; background-position: 0 -20px; }
.is-rwd-mid .g-header-nav-item.has-product .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-product .g-header-nav-item_name a:hover span { background-position: -400px -20px; }
.is-rwd-mid .g-header-nav-item.has-product .g-nav_01 span { width: 39px; background-position: 0 0; }
.is-rwd-mid .g-header-nav-item.has-product .g-nav_02 span { width: 78px; background-position: 0 -20px; }
.is-rwd-mid .g-header-nav-item.has-brand { width: 68px; }
.is-rwd-mid .g-header-nav-item.has-brand ul { padding-left: 423px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-header-nav-item_name span { width: 50px; background-position: 0 -40px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-brand .g-header-nav-item_name a:hover span { background-position: -400px -40px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-nav_01 span { width: 83px; background-position: 0 -60px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-nav_02 span { width: 111px; background-position: 0 -80px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-nav_03 span { width: 47px; background-position: 0 -100px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-nav_04 span { width: 49px; background-position: 0 -120px; }
.is-rwd-mid .g-header-nav-item.has-brand .g-nav_05 span { width: 90px; background-position: 0 -140px; }
.is-rwd-mid .g-header-nav-item.has-special { width: 145px; }
.is-rwd-mid .g-header-nav-item.has-special ul { padding-left: 491px; }
.is-rwd-mid .g-header-nav-item.has-special .g-header-nav-item_name span { width: 119px; background-position: 0 -60px; }
.is-rwd-mid .g-header-nav-item.has-special .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-special .g-header-nav-item_name a:hover span { background-position: -400px -60px; }
.is-rwd-mid .g-header-nav-item.has-special .g-nav_01 span { width: 145px; background-position: 0 -180px; }
.is-rwd-mid .g-header-nav-item.has-campaign { width: 94px; }
.is-rwd-mid .g-header-nav-item.has-campaign ul { padding-left: 614px; }
.is-rwd-mid .g-header-nav-item.has-campaign .g-header-nav-item_name span { width: 71px; background-position: 0 -80px; }
.is-rwd-mid .g-header-nav-item.has-campaign .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-campaign .g-header-nav-item_name a:hover span { background-position: -400px -80px; }
.is-rwd-mid .g-header-nav-item.has-campaign .g-nav_01 span { width: 109px; background-position: 0 -220px; }
.is-rwd-mid .g-header-nav-item.has-news { width: 117px; }
.is-rwd-mid .g-header-nav-item.has-news ul { padding-left: 708px; }
.is-rwd-mid .g-header-nav-item.has-news .g-header-nav-item_name span { width: 94px; background-position: 0 -100px; }
.is-rwd-mid .g-header-nav-item.has-news .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-news .g-header-nav-item_name a:hover span { background-position: -400px -100px; }
.is-rwd-mid .g-header-nav-item.has-news .g-nav_01 span { width: 132px; background-position: 0 -260px; }
.is-rwd-mid .g-header-nav-item.has-company { width: 73px; }
.is-rwd-mid .g-header-nav-item.has-company ul { padding-left: 367px; }
.is-rwd-mid .g-header-nav-item.has-company .g-header-nav-item_name span { width: 51px; background-position: 0 -120px; }
.is-rwd-mid .g-header-nav-item.has-company .g-header-nav-item_name a:focus span, .is-rwd-mid .g-header-nav-item.has-company .g-header-nav-item_name a:hover span { background-position: -400px -120px; }
.is-rwd-mid .g-header-nav-item.has-company .g-nav_01 span { width: 139px; background-position: 0 -300px; }
.is-rwd-mid .g-header-nav-item.has-company .g-nav_02 span { width: 53px; background-position: 0 -320px; }
.is-rwd-mid .g-header-nav-item.has-company .g-nav_03 span { width: 53px; background-position: 0 -340px; }
.is-rwd-mid .g-header-nav-item.has-company .g-nav_04 span { width: 86px; background-position: 0 -360px; }
.is-rwd-mid .g-header-nav-item.has-company .g-nav_05 span { width: 53px; background-position: 0 -380px; }
.is-rwd-mid .g-header-nav-item.is-current .g-header-nav-item_name a { background-color: #e4001f; }
.is-rwd-mid .g-header-nav-item.is-current.has-top .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-top .g-header-nav-item_name a span { background-position: -200px 0; }
.is-rwd-mid .g-header-nav-item.is-current.has-product .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-product .g-header-nav-item_name a span { background-position: -200px -20px; }
.is-rwd-mid .g-header-nav-item.is-current.has-brand .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-brand .g-header-nav-item_name a span { background-position: -200px -40px; }
.is-rwd-mid .g-header-nav-item.is-current.has-special .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-special .g-header-nav-item_name a span { background-position: -200px -60px; }
.is-rwd-mid .g-header-nav-item.is-current.has-campaign .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-campaign .g-header-nav-item_name a span { background-position: -200px -80px; }
.is-rwd-mid .g-header-nav-item.is-current.has-news .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-news .g-header-nav-item_name a span { background-position: -200px -100px; }
.is-rwd-mid .g-header-nav-item.is-current.has-company .g-header-nav-item_name a { background-image: none; }
.is-rwd-mid .g-header-nav-item.is-current.has-company .g-header-nav-item_name a span { background-position: -200px -120px; }
.is-rwd-mid .g-header-nav-item.is-show-content .g-header-nav-item_content { display: block; }

.is-rwd-mid2small .g-header, .is-rwd-small .g-header { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; }
.is-rwd-mid2small .g-header .g-header_logo, .is-rwd-small .g-header .g-header_logo { position: absolute; left: 0; top: 0; width: 100%; height: 60px; background-color: #fff; z-index: 2; }
.is-rwd-mid2small .g-header .g-header_logo span, .is-rwd-small .g-header .g-header_logo span { display: block; position: relative; top: 2px; margin: 0 auto; width: 70px; height: 51px; background: url(/shared/img/logo2.png) no-repeat 0 0; }
.is-rwd-mid2small .g-header .g-header_nav-handle, .is-rwd-small .g-header .g-header_nav-handle { position: absolute; right: 0; top: 0; z-index: 3; width: 60px; height: 60px; }
.is-rwd-mid2small .g-header .g-header_nav-handle a, .is-rwd-small .g-header .g-header_nav-handle a { display: block; height: 60px; background: #e4001f url("/shared/img/icon/hamburger.png") no-repeat center center; -webkit-background-size: 30px 25px; background-size: 30px 25px; }
.is-rwd-mid2small .g-header .g-header-nav, .is-rwd-small .g-header .g-header-nav { display: none; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; position: fixed; top: 60px; right: 0; bottom: 0; left: 0; z-index: 1; }
.is-rwd-mid2small .g-header .g-header-nav nav, .is-rwd-small .g-header .g-header-nav nav { background-color: #fff; }
.is-rwd-mid2small .g-header .g-header-nav_inner, .is-rwd-small .g-header .g-header-nav_inner { position: absolute; top: 0; left: 0; right: 0; bottom: -1px; }
.is-rwd-mid2small .g-header.is-opened, .is-rwd-small .g-header.is-opened { background-color: rgba(0, 0, 0, 0.5); }
.is-rwd-mid2small .g-header.is-opened .g-header-nav, .is-rwd-small .g-header.is-opened .g-header-nav { display: block; }

html.enable-small-menu { overflow: hidden; height: 100%; }
html.enable-small-menu .is-rwd-mid2small .g-header, html.enable-small-menu .is-rwd-small .g-header { bottom: 0; }
html .is-rwd-mid2small .g-header, html .is-rwd-small .g-header { bottom: inherit; }

.is-rwd-mid2small .g-header-social, .is-rwd-small .g-header-social { border-top: 1px solid #e6e6e6; }
.is-rwd-mid2small .g-header-social a, .is-rwd-small .g-header-social a { display: block; padding: 10px 0 9px; text-align: center; font-size: 14px; background-color: #edeff4; text-decoration: none; }
.is-rwd-mid2small .g-header-social i, .is-rwd-small .g-header-social i { position: relative; margin-bottom: -5px; display: inline-block; margin-right: .5em; width: 21px; height: 21px; background: url(/shared/img/icon/sns_facebook_02.png) no-repeat 0 0; -webkit-background-size: 21px 21px; background-size: 21px 21px; }

.is-rwd-mid2small .g-header-nav-item, .is-rwd-small .g-header-nav-item { position: relative; font-size: 12px; font-weight: bold; text-align: center; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_name a, .is-rwd-mid2small .g-header-nav-item .g-header-nav-item_content a, .is-rwd-small .g-header-nav-item .g-header-nav-item_name a, .is-rwd-small .g-header-nav-item .g-header-nav-item_content a { display: block; padding: 10px 0 9px; text-decoration: none; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_name, .is-rwd-small .g-header-nav-item .g-header-nav-item_name { position: relative; border-top: 1px solid #e6e6e6; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_name i, .is-rwd-small .g-header-nav-item .g-header-nav-item_name i { position: absolute; right: 12px; top: 50%; overflow: hidden; display: block; margin-top: -7px; width: 15px; height: 15px; text-indent: -9999px; background: url(/shared/img/icon/plus_minus.png) no-repeat 0 0; -webkit-background-size: 15px 30px; background-size: 15px 30px; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_content, .is-rwd-small .g-header-nav-item .g-header-nav-item_content { display: none; background-color: #e4001f; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_content a, .is-rwd-small .g-header-nav-item .g-header-nav-item_content a { font-weight: normal; color: #ffffff; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_content li, .is-rwd-small .g-header-nav-item .g-header-nav-item_content li { border-top: 1px solid #f3556b; }
.is-rwd-mid2small .g-header-nav-item .g-header-nav-item_content .is-category-top a, .is-rwd-small .g-header-nav-item .g-header-nav-item_content .is-category-top a { font-weight: bold; }
.is-rwd-mid2small .g-header-nav-item:first-child .g-header-nav-item_name, .is-rwd-small .g-header-nav-item:first-child .g-header-nav-item_name { border-top: none; }
.is-rwd-mid2small .g-header-nav-item.has-top, .is-rwd-small .g-header-nav-item.has-top { display: none; }
.is-rwd-mid2small .g-header-nav-item.is-show-content .g-header-nav-item_name i, .is-rwd-small .g-header-nav-item.is-show-content .g-header-nav-item_name i { background-position: 0 -15px; }
.is-rwd-mid2small .g-header-nav-item.is-show-content .g-header-nav-item_content, .is-rwd-small .g-header-nav-item.is-show-content .g-header-nav-item_content { display: block; }

.is-rwd-mid2small .g-header .g-header_inner, .is-rwd-small .g-header .g-header_inner { -webkit-box-shadow: 0 0 4px #999; -moz-box-shadow: 0 0 4px #999; box-shadow: 0 0 4px #999; background-color: #fff; }
.is-rwd-mid2small .g-header .g-header_logo, .is-rwd-small .g-header .g-header_logo { -webkit-box-shadow: 0 0 4px #999; -moz-box-shadow: 0 0 4px #999; box-shadow: 0 0 4px #999; }
.is-rwd-mid2small .g-header.is-opened .g-header-nav > nav, .is-rwd-small .g-header.is-opened .g-header-nav > nav { display: block; }

.is-rwd-small .g-header .g-header_logo { height: 40px; }
.is-rwd-small .g-header .g-header_logo span { width: 48px; height: 36px; background: url(/shared/img/logo3.png) no-repeat 0 0; -webkit-background-size: 48px 36px; background-size: 48px 36px; }
.is-rwd-small .g-header .g-header_nav-handle { width: 40px; height: 40px; }
.is-rwd-small .g-header .g-header_nav-handle a { height: 40px; -webkit-background-size: 20px 15px; background-size: 20px 15px; }
.is-rwd-small .g-header .g-header-nav { top: 40px; }

.is-rwd-small .g-header-nav-item { font-size: 14px; }

.pageTop { bottom: 0; right: 0; z-index: 11; background: url(/shared/img/button/arrow_pagetop01.png) left top no-repeat; background-size: contain; width: 40px; height: 40px; text-indent: -9999px; position: fixed; display: none; }
.pageTop a { width: 40px; height: 40px; display: block; }
.pageTop a:focus, .pageTop a:hover { opacity: 0.5; }
@media screen and (max-width: 480px) { .pageTop .pageTop { position: fixed; width: 30px; height: 30px; }
  .pageTop .pageTop a { width: 30px; height: 30px; } }

/** g-footer */
.g-footer { background-color: #000000; color: #999999; }
.g-footer a { color: #999999; }

.is-rwd-def .g-footer, .is-rwd-mid .g-footer, .is-rwd-mid2small .g-footer { overflow: hidden; zoom: 1; padding: 16px 20px; font-size: 12px; }
.is-rwd-def .g-footer .g-footer_nav, .is-rwd-mid .g-footer .g-footer_nav, .is-rwd-mid2small .g-footer .g-footer_nav { float: left; line-height: 1.5; }
.is-rwd-def .g-footer .g-footer_nav li, .is-rwd-mid .g-footer .g-footer_nav li, .is-rwd-mid2small .g-footer .g-footer_nav li { float: left; list-style: none; white-space: nowrap; }
.is-rwd-def .g-footer .g-footer_nav li a, .is-rwd-mid .g-footer .g-footer_nav li a, .is-rwd-mid2small .g-footer .g-footer_nav li a { text-decoration: none; }
.is-rwd-def .g-footer .g-footer_nav li:before, .is-rwd-mid .g-footer .g-footer_nav li:before, .is-rwd-mid2small .g-footer .g-footer_nav li:before { display: inline; content: "|"; margin-left: 1em; margin-right: 1em; }
.is-rwd-def .g-footer .g-footer_nav li:first-child:before, .is-rwd-mid .g-footer .g-footer_nav li:first-child:before, .is-rwd-mid2small .g-footer .g-footer_nav li:first-child:before { display: none; }
.is-rwd-def .g-footer .g-footer_copyright, .is-rwd-mid .g-footer .g-footer_copyright, .is-rwd-mid2small .g-footer .g-footer_copyright { float: right; }

.is-rwd-small .g-footer { font-size: 14px; text-align: center; }
.is-rwd-small .g-footer li { border-bottom: 1px solid #373737; }
.is-rwd-small .g-footer .g-footer_copyright, .is-rwd-small .g-footer a { display: block; padding: 10px 0 9px; }

.breakpoints { overflow: hidden; height: 0; }
.breakpoints span { display: block; }

@media screen and (max-width: 1280px) { .breakpoints .breakpoint-0 { display: none; }
  .breakpoints .breakpoint-1 { display: block; } }
@media screen and (max-width: 480px) { .breakpoints .breakpoint-0 { display: none; }
  .breakpoints .breakpoint-1 { display: none; } }

@media screen and (max-width: 1280px) { body.page-home .breakpoints .breakpoint-0 { display: none; }
  body.page-home .breakpoints .breakpoint-1 { display: block; }
  body.page-home .breakpoints .breakpoint-2 { display: block; } }
@media screen and (max-width: 1100px) { body.page-home .breakpoints .breakpoint-0 { display: none; }
  body.page-home .breakpoints .breakpoint-1 { display: none; }
  body.page-home .breakpoints .breakpoint-2 { display: block; } }
@media screen and (max-width: 480px) { body.page-home .breakpoints .breakpoint-0 { display: none; }
  body.page-home .breakpoints .breakpoint-1 { display: none; }
  body.page-home .breakpoints .breakpoint-2 { display: none; } }

@media screen and (max-width: 1280px) { body.page-ourbrands .breakpoints .breakpoint-0 { display: block; }
  body.page-ourbrands .breakpoints .breakpoint-1 { display: block; } }
@media screen and (max-width: 480px) { body.page-ourbrands .breakpoints .breakpoint-0 { display: none; }
  body.page-ourbrands .breakpoints .breakpoint-1 { display: block; } }
