img { width: 100%;vertical-align: top; }
.pc {
	display: block;
}
@media screen and (max-width: 480px) {
	.pc {
		display: none;
	}
}
.sp {
	display: none;
}
@media screen and (max-width: 480px) {
	.sp {
		display: block;
	}
}

/* g-layout
--------------------------------------------------*/
.g-layout {
	min-width: 960px;
}
@media screen and (max-width: 480px) {
	.g-layout {
		min-width: 100%;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
}
.page-main {}
.page-main_inner {}
.page-main_inner * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section {
	margin: 0 auto;
	width: 980px;
}
@media screen and (max-width: 480px) {
	.section {
	margin: 0 auto;
	padding: 0 10px;
	width: auto;
	}
}
.sectionInner {
	margin: 0 auto;
}
@media screen and (min-width: 481px) {
	.sectionInner {
		margin: 0 auto;
		width: 960px;
	}
}
/* mainImg
--------------------------------------------------*/
#mainImg {
	padding: 10px 0 0;
	background: #161b77; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #161b77 0%, #161b77 13%, #ffffff 13%, #ffffff 25%, #ff0000 25%, #ff0000 38%, #ffffff 38%, #ffffff 50%, #161b77 50%, #161b77 63%, #ffffff 63%, #ffffff 75%, #ff0000 75%, #ff0000 88%, #ffffff 88%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #161b77 0%,#161b77 13%,#ffffff 13%,#ffffff 25%,#ff0000 25%,#ff0000 38%,#ffffff 38%,#ffffff 50%,#161b77 50%,#161b77 63%,#ffffff 63%,#ffffff 75%,#ff0000 75%,#ff0000 88%,#ffffff 88%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #161b77 0%,#161b77 13%,#ffffff 13%,#ffffff 25%,#ff0000 25%,#ff0000 38%,#ffffff 38%,#ffffff 50%,#161b77 50%,#161b77 63%,#ffffff 63%,#ffffff 75%,#ff0000 75%,#ff0000 88%,#ffffff 88%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161b77', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-background-size: 25px 25px;
	background-size: 25px 25px;
}
@media screen and (min-width: 481px) {
		#mainImg {
			padding: 16px 0 0;
			-webkit-background-size: 50px 50px;
			background-size: 50px 50px;
		}
}
	#mainImg .mainImg_in {
		position: relative;
		background: url(/campaign/0909popcorn_day/img/bg_main01_sp.jpg)  no-repeat center top;
		-webkit-background-size: cover;
		background-size: cover;
	}
	@media screen and (min-width: 481px) {
		#mainImg .mainImg_in {
			position: relative;
			background: url(/campaign/0909popcorn_day/img/bg_main01.jpg)  no-repeat center top;
			-webkit-background-size: cover;
			background-size: cover;
		}
	}
	#mainImg .sectionInner {
		padding: 0;
	}
	@media screen and (min-width: 481px) {
		#mainImg .sectionInner {}
	}

	.mainImg_inner {
		padding: 19px 20px;
	}
	@media screen and (min-width: 481px) {
		.mainImg_inner {
			position: relative;
			padding: 0;
			background: none;
			z-index: 20;
		}
	}
		.mainImg_inner .ribbon {
			position: absolute;
			top: -10px;
			left: 10px;
			width: 53px;
			height: auto;
		}
		@media screen and (min-width: 481px) {
			.mainImg_inner .ribbon {
				position: absolute;
				top: -16px;
				width: 176px;
			}
		}
		.mainImg_inner .ribbon_btn {
			position: absolute;
			top: 84%;
			left: 13%;
			width: 34.167%;
		}
			.mainImg_inner .ribbon_btn a {}
			.mainImg_inner .ribbon_btn a:hover {}
		@media screen and (min-width: 481px) {
			.mainImg_inner .ribbon_btn {
				position: absolute;
				top: 200px;
				left: 10px;
				width: 173px;
				height: 27px;
			}
		}
		.mainImg_inner .btn {
			position: absolute;
			top: 67%;
			left: 83%;
		}
			.mainImg_inner .btn a {
				display: block;
				width: 48px;
				height: 48px;
				-webkit-transition: transform 0.3s cubic-bezier(0.38,-0.52, 0.49, 1.68);
				-moz-transition: transform 0.3s cubic-bezier(0.38,-0.52, 0.49, 1.68);
				-ms-transition: transform 0.3s cubic-bezier(0.38,-0.52, 0.49, 1.68);
				-o-transition: transform 0.3s cubic-bezier(0.38,-0.52, 0.49, 1.68);
				transition: transform 0.3s cubic-bezier(0.38,-0.52, 0.49, 1.68);
			}
			.mainImg_inner .btn a span {
				display: block;
				width: 48px;
				height: 48px;
				background: url(/campaign/0909popcorn_day/img/bg_main_circle.png) no-repeat center center;
				-webkit-background-size: cover;
				background-size: cover;
				animation: rotateButton linear 10s;
				-webkit-animation: rotateButton linear 10s infinite ;
				-moz-animation: rotateButton linear 10s infinite ;
				-o-animation: rotateButton linear 10s infinite ;
				-ms-animation: rotateButton linear 10s infinite ;
			}
			.mainImg_inner .btn a:hover {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
			}
			.mainImg_inner .btn img {
				position: absolute;
				top: 6px;
				left: 8px;
				width: 32px;
				height: 35px;
			}
		@media screen and (min-width: 481px) {
			.mainImg_inner .btn {
				position: absolute;
				top: 224px;
				left: 670px;
			}
			.mainImg_inner .btn a {
				width: 96px;
				height: 96px;
			}
			.mainImg_inner .btn a span {
				display: block;
				width: 96px;
				height: 96px;
			}
			.mainImg_inner .btn img {
				position: absolute;
				top: 13px;
				left: 16px;
				width: 63px;
				height: 70px;
			}
		}
@keyframes rotateButton{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}

@-moz-keyframes rotateButton{
  0% {
    -moz-transform: rotate(0deg) ;
  }
  100% {
    -moz-transform: rotate(360deg) ;
  }
}

@-webkit-keyframes rotateButton {
  0% {
    -webkit-transform: rotate(0deg) ;
  }
  100% {
    -webkit-transform: rotate(360deg) ;
  }
}

@-o-keyframes rotateButton {
  0% {
    -o-transform: rotate(0deg) ;
  }
  100% {
    -o-transform: rotate(360deg) ;
  }
}

@-ms-keyframes rotateButton {
  0% {
    -ms-transform: rotate(0deg) ;
  }
  100% {
    -ms-transform: rotate(360deg) ;
  }
}

		.mainImg_inner h1 {}
			.mainImg_inner h1 img {}
		@media screen and (min-width: 481px) {
			.mainImg_inner h1 {
				width: 518px;
				margin: 0 0 0 205px;
			}
			.mainImg_inner h1 img {}
		}
	#mainImg_in_sub {
			padding: 10px 0 6px;
			background: url(/campaign/0909popcorn_day/img/bg_03.png) repeat left top;
			z-index: -10000;
	}
		#mainImg_in_sub .mainImg_in_sub_in {
			position: relative;
		}
		#mainImg_in_sub .mainImg_in_sub_in:before {
			content: "";
			position: absolute;
			top: -32px;
			left: 7px;
			display: block;
			width: 32px;
			height: 48px;
			background: url(/campaign/0909popcorn_day/img/ico_main01_sp.png) no-repeat left top;
			-webkit-background-size: contain;
			background-size: contain;
		}
			#mainImg_in_sub p.txt {
				position: relative;
				width: 78.833%;
				margin: 0 auto;
			}
	@media screen and (min-width: 481px) {
		#mainImg_in_sub {
			padding: 10px 0;
		}
			#mainImg_in_sub .mainImg_in_sub_in {
				position: relative;
				width: 960px;
				margin: 0 auto;
				z-index: 10000;
			}
			#mainImg_in_sub .mainImg_in_sub_in:before {
				content: "";
				position: absolute;
				top: -58px;
				left: 0;
				display: block;
				width: 84px;
				height: 110px;
				background: url(/campaign/0909popcorn_day/img/ico_main01.png) no-repeat left top;
			}
				#mainImg_in_sub p.txt {
					position: relative;
					width: 388px;
					margin: 0 auto;
				}
	}

/* section arrow
--------------------------------------------------*/
 
 /* section01
  --------------------------------------------------*/
#section01 {
	padding: 0 0 20px;
	background: url(/campaign/0909popcorn_day/img/bg_01.png) repeat left top;
}
@media screen and (min-width: 481px) {
	#section01 {
		padding: 0;
	}
}
	#section01 .sectionInner {}
	@media screen and (min-width: 481px) {
		#section01 .sectionInner {
			padding: 20px 0 40px;
		}
	}
	#section01 .sectionContents {}
	@media screen and (min-width: 481px) {
		#section01 .sectionContents {}
	}
	#section01 .sectionContents.secIn01 {}
	@media screen and (min-width: 481px) {
		#section01 .sectionContents.secIn01 {}
	}
		#section01 .sectionContents.secIn01 ul {}
		@media screen and (min-width: 481px) {
			#section01 .sectionContents.secIn01 ul {
				overflow: hidden;
			}
		}
			#section01 .sectionContents.secIn01 ul li {
				margin: 0 14px;
				padding: 20px 0;
			}
			#section01 .sectionContents.secIn01 ul li:nth-child(1) {
				border-bottom: 1px dotted #3ba7da;
			}
			@media screen and (min-width: 481px) {
				#section01 .sectionContents.secIn01 ul li {
					float: left;
					margin: 0;
				}
				#section01 .sectionContents.secIn01 ul li:nth-child(1) {
					padding: 0 26px 0 0;
					border-right: 1px dotted #3ba7da;
					border-bottom: none;
				}
				#section01 .sectionContents.secIn01 ul li:nth-child(2) {
					padding: 0 0 0 24px;
				}
			}
				#section01 .sectionContents.secIn01 ul li p.img {}
				@media screen and (min-width: 481px) {
					#section01 .sectionContents.secIn01 ul li p.img {}
				}
	#section01 .sectionContents.secIn02 {
		margin: 0 14px;
		border: 1px solid #189afc;
		padding: 7px 25px 10px;
		text-align: center;
	}
	@media screen and (min-width: 481px) {
		#section01 .sectionContents.secIn02 {
			margin: 0;
			border: none;
			padding: 0;
		}
	}
	 	#section01 .sectionContents.secIn02 p.txt {
			font-size: 83.333%;
			font-weight: bold;
			color: #0e8ff1;
		}
		@media screen and (min-width: 481px) {
			#section01 .sectionContents.secIn02 p.txt {
				margin: 20px 0 0;
				font-size: 116.667%;
				font-weight: bold;
				color: #0e8ff1;
				text-align: center;
			}
		}

 /* section02
  --------------------------------------------------*/
#section02 {
	background: url(/campaign/0909popcorn_day/img/bg_03.png) repeat left top;
}
@media screen and (min-width: 481px) {
	#section02 {}
}
	#section02 .sectionInner {
		position: relative;
		padding: 20px;
	}
	#section02 .sectionInner:before {
		content: "";
		position: absolute;
		top: 0;
		left: 47%;
		display: block;
		width: 23px;
		height: 15px;
		background: url(/campaign/0909popcorn_day/img/bg_01-01.png) no-repeat left top;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@media screen and (min-width: 481px) {
		#section02 .sectionInner {
			position: relative;
			padding: 20px 0 40px;
		}
		#section02 .sectionInner:before {
			content: "";
			position: absolute;
			top: 0;
			right: 195px;
			left: inherit;
			display: block;
			width: 56px;
			height: 29px;
			background: url(/campaign/0909popcorn_day/img/bg_01-01.png) no-repeat left top;
		}
	}
	#section02 .sectionInner h2 {
		margin: 0 0 0 -12px;
	}
	@media screen and (min-width: 481px) {
		#section02 .sectionInner h2 {
			width: 1011px;
			margin: 0 0 0 -50px;
		}
	}
	#section02 .sectionContents {}
	@media screen and (min-width: 481px) {
		#section02 .sectionContents {}
	}
	#section02 .sectionContents.secIn01 {}
	@media screen and (min-width: 481px) {
		#section02 .sectionContents.secIn01 {}
	}
		#section02 .sectionContents.secIn01 ul {}
		@media screen and (min-width: 481px) {
			#section02 .sectionContents.secIn01 ul {
				overflow: hidden;
				margin: 20px 0 0;
			}
		}
			#section02 .sectionContents.secIn01 ul li {
				position: relative;
			}
			#section02 .sectionContents.secIn01 ul li:after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 0;
				display: block;
				width: 100%;
				height: 27px;
				background: url(/campaign/0909popcorn_day/img/bg_sec02_01_sp.png) no-repeat center bottom;
				-webkit-background-size: contain;
				background-size: contain;
			}
			#section02 .sectionContents.secIn01 ul li:last-child:after {
				display: none;
			}
			@media screen and (min-width: 481px) {
				#section02 .sectionContents.secIn01 ul li {
					float: left;
					padding: 0 21px 0 0;
					background: url(/campaign/0909popcorn_day/img/bg_sec02_01.png) no-repeat right top; 
				}
				#section02 .sectionContents.secIn01 ul li:after {
					display: none;
				}
				#section02 .sectionContents.secIn01 ul li:last-child {
					padding: 0;
					background: none;
				}
			}
				#section02 .sectionContents.secIn01 ul li p.img {}
				@media screen and (min-width: 481px) {
					#section02 .sectionContents.secIn01 ul li p.img {}
				}

 /* section03
  --------------------------------------------------*/
#section03 {
	background: url(/campaign/0909popcorn_day/img/bg_01.png) repeat left top;
}
@media screen and (min-width: 481px) {
	#section03 {}
}
	#section03 .sectionInner {
		padding: 25px 0;
	}
	@media screen and (min-width: 481px) {
		#section03 .sectionInner {
			padding: 30px 0;
		}
	}
		#section03 .sectionInner h2 {
			width: 89.531%;
			margin: 0 auto;
		}
		@media screen and (min-width: 481px) {
			#section03 .sectionInner h2 {
				width: 573px;
				margin: 0 auto;
			}
		}

 /* section04
  --------------------------------------------------*/
#section04 {
	position: relative;
	padding: 0 10px 0;
	background: url(/campaign/0909popcorn_day/img/bg_02.png) repeat left top;
}
@media screen and (min-width: 481px) {
	#section04 {}
}
#link01 {
	position: absolute;
	top: -15px;
}
@media screen and (min-width: 481px) {
#link01 {
	position: static;
}
}
	.section11 #pop-1 {
	}
	@media screen and (max-width: 480px) {
		.section11 #pop-1 {
			position: static;
		}
	}

	#section04 .sectionInner {
		position: relative;
		padding: 15px 0 0;
	}
	#section04 .sectionInner:before {
		content: "";
		position: absolute;
		top: 0;
		right: 47%;
		display: block;
		width: 23px;
		height: 15px;
		background: url(/campaign/0909popcorn_day/img/bg_01-01.png) no-repeat center top;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@media screen and (min-width: 481px) {
		#section04 .sectionInner {
			position: relative;
			padding: 45px 0 0;
		}
		#section04 .sectionInner:before {
			content: "";
			position: absolute;
			top: 0;
			right: 50%;
			display: block;
			width: 56px;
			height: 29px;
			background: url(/campaign/0909popcorn_day/img/bg_01-01.png) no-repeat center top;
		}
	}


	#section04 .sectionInner h3 {
		padding: 30px 0 0;
	}
	#section04 .sectionInner h3:nth-child(2) {
		padding: 15px 0 0;
	}
	@media screen and (min-width: 481px) {
		#section04 .sectionInner h3 {
			padding: 0;
		}
		#section04 .sectionInner h3:nth-child(1) {
			padding: 0;
		}
	}
	#section04 .sectionInner h4 {
		margin: 30px 0 0;
	}
	#section04 .sectionInner h4:nth-child(2) {
		margin: 0;
	}
	@media screen and (min-width: 481px) {
		#section04 .sectionInner h4 {
			margin: 45px 0 0;
		}
		#section04 .sectionInner h4:first-child {
			margin: 0;
		}
	}	
	#section04 .sectionContents {
		border: 3px solid #189afc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #fff;
	}
	@media screen and (min-width: 481px) {
		#section04 .sectionContents {
			padding: 0 55px;
			border: 5px solid #189afc;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #fff;
			}
	}

	/* sec01 */
	#section04 .sec01 .sectionContents {
		position: relative;
		margin: 35px 0 0;
		padding: 0 0 20px;
	}
	#section04 .sec01 .sectionContents:before {
		content: "";
		position: absolute;
		top: -27px;
		left: 40%;
		display: block;
		width: 54px;
		height: 54px;
		background: url(/campaign/0909popcorn_day/img/ico_sec03_01.png) no-repeat left top;
		-webkit-background-size: contain;
		background-size: contain;
	}
	#section04 .sec01 .sectionContents:after {
		content: "";
		position: absolute;
		bottom: -20%;
		left: 45%;
		display: block;
		width: 29px;
		height: 28px;
		background: url(/campaign/0909popcorn_day/img/bg_sec03_02.png) no-repeat center bottom;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec01 .sectionContents {
			position: relative;
			margin: 30px 0 55px;
			padding: 46px 129px 59px 123px;
		}
		#section04 .sec01 .sectionContents:before {
			content: "";
			position: absolute;
			top: -20px;
			left: -50px;
			display: block;
			width: 108px;
			height: 108px;
			background: url(/campaign/0909popcorn_day/img/ico_sec03_01.png) no-repeat left top;
		}
		#section04 .sec01 .sectionContents:after {
			content: "";
			position: absolute;
			bottom: -55px;
			left: 215px;
			display: block;
			width: 528px;
			height: 55px;
			background: url(/campaign/0909popcorn_day/img/bg_sec03_01.png) no-repeat center bottom;
		}
	}
		#section04 .sec01 .sectionContents .sectionContentsIn {}
		@media screen and (min-width: 481px) {
			#section04 .sec01 .sectionContents .sectionContentsIn {
				overflow: hidden;
			}
		}
			#section04 .sec01 .sectionContents p.txt {
				width: 69.333%;
				margin: 42px auto 0;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec01 .sectionContents p.txt {
					float: left;
					width: 416px;
					margin: 15px 18px 0 0;
					}
			}
			#section04 .sec01 .sectionContents p.img {}
			@media screen and (min-width: 481px) {
				#section04 .sec01 .sectionContents p.img {
					float: left;
					width: 98px;
					margin: 0 17px 0 0;
				}
			}
			#section04 .sec01 .sectionContents p.btn {
				width: 73.167%;
				margin: 13px auto 0;
			}
				#section04 .sec01 .sectionContents p.btn a {}
				#section04 .sec01 .sectionContents p.btn a:hover {
					opacity: 0.7;
				}
			@media screen and (min-width: 481px) {
				#section04 .sec01 .sectionContents p.btn {
					float: left;
					width: 149px;
					margin: 20px 0 0;
				}
			}
	/* sec02 */
	#section04 .sec02 .sectionContents {
		position: relative;
		margin: 18% 0 0;
	}
	#section04 .sec02 .sectionContents:before {
		content: "";
		position: absolute;
		top: -27px;
		left: 40%;
		display: block;
		width: 54px;
		height: 54px;
		background: url(/campaign/0909popcorn_day/img/ico_sec03_02.png) no-repeat left top;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec02 .sectionContents {
			position: relative;
			margin: 0;
 			padding: 10px 67px 0 58px;
		}
		#section04 .sec02 .sectionContents:before {
			content: "";
			position: absolute;
			top: -20px;
			left: -50px;
			display: block;
			width: 108px;
			height: 108px;
			background: url(/campaign/0909popcorn_day/img/ico_sec03_02.png) no-repeat left top;
		}
	}
		#section04 .sec02 .sectionContents .box {}
		@media screen and (min-width: 481px) {
			#section04 .sec02 .sectionContents .box {
				overflow: hidden;
			}
		}
			#section04 .sec02 .sectionContents .box .lbox {
				background: url(/campaign/0909popcorn_day/img/bg_sec03_02_sp.png)  no-repeat center bottom;
				-webkit-background-size: contain;
				background-size: contain;
				margin: 0 7px;
				padding: 0 0 35px;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec02 .sectionContents .box .lbox {
					float: left;
					height: 263px;
					padding: 28px 96px 0 0;
					background: url(/campaign/0909popcorn_day/img/bg_sec03_03.png) no-repeat right top;
				}
			}
				#section04 .sec02 .sectionContents .box .lbox p.txt {
					width: 76.166%;
					margin: 40px auto 0;
				}
				@media screen and (min-width: 481px) {
					#section04 .sec02 .sectionContents .box .lbox p.txt {
						width: auto;
						margin: 0;
						padding: 0 0 0 8px;
					}
				}
				#section04 .sec02 .sectionContents .box .lbox p.img {
					width: 79.667%;
					margin: 15px auto 0;
				}
				@media screen and (min-width: 481px) {
					#section04 .sec02 .sectionContents .box .lbox p.img {
						width: auto;
						margin: 10px 0 0;
					}
				}
			#section04 .sec02 .sectionContents .box .rbox {
				padding: 0 0 25px;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec02 .sectionContents .box .rbox {
					float: right;
					padding: 28px 0 0 0;
				}
			}
				#section04 .sec02 .sectionContents .box .rbox p.txt {
					width: 78.167%;
					margin: 20px auto 0;
				}
				@media screen and (min-width: 481px) {
					#section04 .sec02 .sectionContents .box .rbox p.txt {
						width: auto;
						margin: 0;
					}
				}
				#section04 .sec02 .sectionContents .box .rbox p.img {
					width: 80.333%;
					margin: 7px auto;
				}
				@media screen and (min-width: 481px) {
					#section04 .sec02 .sectionContents .box .rbox p.img {
						width: auto;
						margin: 17px 0 0;
						padding: 0 5px 0 0;
					}
				}
		#section04 .sec02 .linkarea {
			position: relative;
			margin: -5px 0 60px;
			padding: 12px 0 14px;
			-webkit-border-radius: 0 0 5px 5px / 0 0 5px 5px;
			-moz-border-radius: 0 0 5px 5px / 0 0 5px 5px;
			border-radius: 0 0 5px 5px / 0 0 5px 5px;
			background: #189afc;
			text-align: center;
		}
		#section04 .sec02 .linkarea:after {
			content: "";
			position: absolute;
			bottom: -50%;
			left: 45%;
			display: block;
			width: 29px;
			height: 28px;
			background: url(/campaign/0909popcorn_day/img/bg_sec03_02.png) no-repeat center bottom;
			-webkit-background-size: contain;
			background-size: contain;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec02 .linkarea {
				position: relative;
				margin: -5px 0 60px;
				padding: 0;
				-webkit-border-radius: 0 0 5px 5px / 0 0 5px 5px;
				-moz-border-radius: 0 0 5px 5px / 0 0 5px 5px;
				border-radius: 0 0 5px 5px / 0 0 5px 5px;
				background: #189afc;
				line-height: 52px;
			}
			#section04 .sec02 .linkarea:after {
				content: "";
				position: absolute;
				bottom: -55px;
				left: 46%;
				display: block;
				width: 58px;
				height: 56px;
				background: url(/campaign/0909popcorn_day/img/bg_sec03_02.png) no-repeat center bottom;
			}
		}
			#section04 .sec02 .linkarea p.txt {
				font-size: 83.333%;
				font-weight: bold;
				color: #fff;
				text-align: center;
			}
				#section04 .sec02 .linkarea p.txt a {
					color: #ffea21;
				}
			@media screen and (min-width: 481px) {
				#section04 .sec02 .linkarea p.txt {
					font-size: 150%;
					font-weight: bold;
					color: #fff;
					text-align: center;
				}
			}
				#section04 .sec02 .linkarea p.txt a {}
				@media screen and (min-width: 481px) {
					#section04 .sec02 .linkarea p.txt a {
						color: #ffea21;
					}
					#section04 .sec02 .linkarea p.txt a:hover {
						text-decoration: none;
					}
				}

	/* sec03 */
	#section04 .sec03 .sectionContents {
		position: relative;
		padding: 0 0 20px;
	}
	#section04 .sec03 .sectionContents:before {
		content: "";
		position: absolute;
		top: -27px;
		left: 40%;
		display: block;
		width: 54px;
		height: 54px;
		background: url(/campaign/0909popcorn_day/img/ico_sec03_03.png) no-repeat left top;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec03 .sectionContents {
			position: relative;
			margin: 0 0 60px;
			padding: 16px 164px 22px 156px;
		}
		#section04 .sec03 .sectionContents:before {
			content: "";
			position: absolute;
			top: -20px;
			left: -50px;
			display: block;
			width: 108px;
			height: 108px;
			background: url(/campaign/0909popcorn_day/img/ico_sec03_03.png) no-repeat left top;
		}
	}
		#section04 .sec03 .sectionContents .sectionContentsIn {}
		@media screen and (min-width: 481px) {
			#section04 .sec03 .sectionContents .sectionContentsIn {
				overflow: hidden;
			}
		}
			#section04 .sec03 .sectionContents p.txt {
				width: 90%;
				margin: 42px auto 0;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec03 .sectionContents p.txt {
					float: left;
					width: 540px;
					margin: 45px 30px 0 0;
				}
			}
			#section04 .sec03 .sectionContents p.img {
				width: 14%;
				margin: 8px auto 0;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec03 .sectionContents p.img {
					float: left;
					width: 60px;
				}
			}

	/* sec04 */
	#section04 .sec04 .sectionContents {
		margin: 15px 0 0;
		padding: 20px 11px;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec04 .sectionContents {
			margin: 30px 0 0;
			padding: 36px 53px;
		}
	}
		#section04 .sec04 .sectionContents p.txt01 {
			margin: 10px 0 0;
			line-height: 1.6;
			font-size: 91.667%;
			font-weight: bold;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec04 .sectionContents p.txt01 {
				margin: 20px 0 0;
				line-height: 1.75;
				font-size: 133.333%;
				font-weight: bold;
			}
		}
		#section04 .sec04 .sectionContents p.txt02 {
			line-height: 1.6;
			font-size: 91.667%;
			font-weight: bold;
			color: #189afc;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec04 .sectionContents p.txt02 {
				line-height: 1.75;
				font-size: 133.333%;
				font-weight: bold;
				color: #189afc;
				}
		}
		#section04 .sec04 .sectionContents p.txtEmphasis {
			margin: 7px 0 0;
			padding: 10px 0 10px 10px;
			padding-left: 6em;
			text-indent: -6em;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #189afc;
			font-size: 91.667%;
			font-weight: bold;
			color: #fff;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec04 .sectionContents p.txtEmphasis {
				margin: 17px 0 0;
				padding: 20px 0 20px 42px;
				text-indent: 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background: #189afc;
				font-size: 150%;
				font-weight: bold;
				color: #fff;
			}
		}
			#section04 .sec04 .sectionContents p.txtEmphasis span {}
			@media screen and (min-width: 481px) {
				#section04 .sec04 .sectionContents p.txtEmphasis span {}
			}

	/* sec05 */
	#section04 .sec05 {}
	@media screen and (min-width: 481px) {
		#section04 .sec05 {
			margin: 60px 0 0;
		}
	}
	#section04 .sec05 .sectionContents {
		margin: 15px 0 0;
		padding: 20px 12px;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec05 .sectionContents {
			padding: 35px 55px;
		}
	}
		#section04 .sec05 .sectionContents .notesList {}
		@media screen and (min-width: 481px) {
			#section04 .sec05 .sectionContents .notesList {}
		}
			#section04 .sec05 .sectionContents .notesList li {
				margin: 7px 0 0;
				font-size: 91.667%;
				font-weight: bold;
				padding-left: 1em;
				text-indent: -1em;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec05 .sectionContents .notesList li {
					margin: 10px 0 0;
					font-size: 133.333%;
					font-weight: bold;
				}
				#section04 .sec05 .sectionContents .notesList li:first-child {
					margin: 0;
				}
			}
				#section04 .sec05 .sectionContents .notesList li a {
					color: #db0028;
				}
				@media screen and (min-width: 481px) {
					#section04 .sec05 .sectionContents .notesList li a {
						color: #db0028;
					}
				}

	/* sec06 */
	#section04 .sec06 {}
	@media screen and (min-width: 481px) {
		#section04 .sec06 {
			margin: 60px 0 0;
		}
	}
	#section04 .sec06 .sectionContents {
			margin: 15px 0 0;
			padding: 0 12px 20px;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec06 .sectionContents {
			margin: 30px 0 0;
			padding: 16px 53px 36px;
		}
	}
		#section04 .sec06 .sectionContents p.txt01,
		#section04 .sec06 .sectionContents p.txt02,
		#section04 .sec06 .sectionContents p.txt03 {
			margin: 20px 0 0;
			font-size: 91.667%;
			font-weight: bold;
		}
		#section04 .sec06 .sectionContents p.txt01 a,
		#section04 .sec06 .sectionContents p.txt02 a,
		#section04 .sec06 .sectionContents p.txt03 a {
			color: #189afc;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec06 .sectionContents p.txt01,
			#section04 .sec06 .sectionContents p.txt02,
			#section04 .sec06 .sectionContents p.txt03 {
				margin: 20px 0 0;
				line-height: 1.75;
				font-size: 133.333%;
				font-weight: bold;
			}
			#section04 .sec06 .sectionContents p.txt01 a,
			#section04 .sec06 .sectionContents p.txt02 a,
			#section04 .sec06 .sectionContents p.txt03 a {
				color: #189afc;
			}
		}
		#section04 .sec06 .sectionContents p.txt02 {}
		@media screen and (min-width: 481px) {
			#section04 .sec06 .sectionContents p.txt02 {}
		}
		#section04 .sec06 .sectionContents p.txt03 {}
		@media screen and (min-width: 481px) {
			#section04 .sec06 .sectionContents p.txt03 {}
		}

	/* sec07 */
	#section04 .sec07 {}
	@media screen and (min-width: 481px) {
		#section04 .sec07 {
			margin: 60px 0 0;
		}
	}
	#section04 .sec07 .sectionContents {
		margin: 15px 0 0;
		padding: 20px 12px;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec07 .sectionContents {
			margin: 30px 0 0;
			padding: 40px 55px;
		}
	}
		#section04 .sec07 .sectionContents p.txt01 {
			font-size: 91.667%;
			font-weight: bold;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec07 .sectionContents p.txt01 {
				line-height: 1.75;
				font-size: 133.333%;
				font-weight: bold;
			}
		}
		#section04 .sec07 .sectionContents p.txtEmphasis {
			margin: 13px 0 0;
			padding: 10px 0 10px 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #189afc;
			font-weight: bold;
			color: #fff;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec07 .sectionContents p.txtEmphasis {
				margin: 13px 0 0;
				padding: 15px 0 10px 15px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background: #189afc;
				font-size: 133.333%;
				font-weight: bold;
				color: #fff;
			}
		}
			#section04 .sec07 .sectionContents p.txtEmphasis span.txt01 {
				margin: 0 40px 0 0;
				padding: 0 0 0 48px;
				background: url(/campaign/0909popcorn_day/img/ico_sec03_04.png) no-repeat left top;
				background-size: contain;
				font-size: 133.333%;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec07 .sectionContents p.txtEmphasis span.txt01 {
					margin: 0 40px 0 0;
					padding: 0 0 0 56px;
					background: url(/campaign/0909popcorn_day/img/ico_sec03_04.png) no-repeat left top;
					font-size: 150%;
				}
			}
			#section04 .sec07 .sectionContents p.txtEmphasis span.txt02 {
				font-size: 75%;
			}
			@media screen and (min-width: 481px) {
				#section04 .sec07 .sectionContents p.txtEmphasis span.txt02 {
					font-size: 100%;
				}
			}

	/* sec08 */
	#section04 .sec08 {
		margin: 30px 0 0;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec08 {
			margin: 60px 0 0;
		}
	}
	#section04 .sec08 .sectionInner {
		padding-top: 0;
		padding-bottom: 70px;
	}
	#section04 .sec08 .sectionInner:before {
		display: none;
	}
	@media screen and (min-width: 481px) {
		#section04 .sec08 .sectionInner {
			padding-top: 0;
			padding-bottom: 100px;
		}
	}
		#section04 .sec08 .bnr + .bnr {
			margin-top: 25px;
		}
		@media screen and (min-width: 481px) {
			#section04 .sec08 .bnr + .bnr {
				margin-top: 40px;
			}
		}

/* !module modal shadow
---------------------------------------------------------- */
.module-modal-shadow {
	display: none;
	background: rgba(0,0,0,0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* !module modal
---------------------------------------------------------- */
.module-modal {}
	.module-modal .modal-item {
		display: none;
		position: fixed;
		z-index: 100000;
		top: 10%;
		left: 0;
		background: #189afc;
		margin: 0 10px;
		padding: 0 3px;
	}
	@media screen and (min-width: 481px) {
		.module-modal .modal-item {
			top: 50%;
			left: 50%;
			width: 960px;
			margin: -250px 0 0 -480px;
			padding: 0 5px;
		}
	}
	.module-modal .modal-item .modalInner {
		max-height: 500px;
		overflow:scroll;
	}
		.module-modal .modal-item .modalInner h3 {
			width: 21.695%;
			margin: 0 auto;
			padding: 10px 0;
		}
	.module-modal .modal-item .modalContents  {
		background: #fff;
		padding: 5px 12px 20px;
	}
		.module-modal .modal-item .modalContents .sec {}
			.module-modal .modal-item .modalContents .sec h4 {
				margin: 25px 0 0;
			}
			.module-modal .modal-item .modalContents .sec p.txt,
			.module-modal .modal-item .modalContents .sec p.txt02 {
				font-size: 91.667%;
				font-weight: bold;
			}
			.module-modal .modal-item .modalContents .sec p.txt {
				margin: 15px 0 0;
			}
			.module-modal .modal-item .modalContents .sec p.txt02 {
				color: #189afc;
			}
		.module-modal .modal-item .modalContents #sec01.sec {}
			.module-modal .modal-item .modalContents #sec01.sec p.txt {}

		.module-modal .modal-item .modalContents #sec02.sec {}
			.module-modal .modal-item .modalContents #sec02.sec p.txt {}
			.module-modal .modal-item .modalContents #sec02.sec p.txt02 {}

		.module-modal .modal-item .modalContents #sec03.sec {}
			.module-modal .modal-item .modalContents #sec03.sec ul {
				margin: 15px 0 0;
			}
				.module-modal .modal-item .modalContents #sec03.sec ul li {
					font-size: 91.667%;
					font-weight: bold;
					padding-left: 1em;
					text-indent: -1em;
				}

		.module-modal .modal-item .modalContents #sec04.sec {}
			.module-modal .modal-item .modalContents #sec04.sec p.txt {}
			.module-modal .modal-item .modalContents #sec04.sec ul {
				margin: 15px 0 0;
			}
				.module-modal .modal-item .modalContents #sec04.sec ul li {
					font-size: 91.667%;
					font-weight: bold;
					padding-left: 1em;
					text-indent: -1em;
				}

	@media screen and (min-width: 481px) {
	.module-modal .modal-item {}
	.module-modal .modal-item .modalInner {
		max-height: 600px;
	}
		.module-modal .modal-item .modalInner h3 {
			width: 128px;
			margin: 0 auto;
			padding: 20px 0;
		}
		.module-modal .modal-item .modalContents {
			padding: 40px 55px;
		}
			.module-modal .modal-item .modalContents .sec {}
				.module-modal .modal-item .modalContents .sec p.txt,
				.module-modal .modal-item .modalContents .sec p.txt02 {
					font-size: 133.333%;
					font-weight: bold;
				}
				.module-modal .modal-item .modalContents .sec h4 {
					margin: 20px 0 0;
				}
			.module-modal .modal-item .modalContents #sec01.sec {}
				.module-modal .modal-item .modalContents #sec01.sec p.txt {}
	
			.module-modal .modal-item .modalContents #sec02.sec {}
				.module-modal .modal-item .modalContents #sec02.sec p.txt {}
				.module-modal .modal-item .modalContents #sec02.sec p.txt02 {
					color: #189afc;
				}
			.module-modal .modal-item .modalContents #sec03.sec {}
				.module-modal .modal-item .modalContents #sec03.sec ul {}
					.module-modal .modal-item .modalContents #sec03.sec ul li {
						font-size: 133.333%;
						font-weight: bold;
						padding-left: 1em;
						text-indent: -1em;
					}
	
			.module-modal .modal-item .modalContents #sec04.sec {}
				.module-modal .modal-item .modalContents #sec04.sec p.txt {}
				.module-modal .modal-item .modalContents #sec04.sec ul {}
					.module-modal .modal-item .modalContents #sec04.sec ul li {
						font-size: 133.333%;
						font-weight: bold;
						padding-left: 1em;
						text-indent: -1em;
					}
	}

.modalContentsClose {
	background: #3e3e3e;
	margin: 0 -3px;
}
	@media screen and (min-width: 481px) {
		.modalContentsClose {
			margin: 0 -5px;
			padding: 17px 0 20px;
		}
	}
.modalContentsClose .btn {
	width: 22.833%;
	margin: 0 auto;
	padding: 10px 0;
}
	@media screen and (min-width: 481px) {
	.modalContentsClose .btn {
		width: 137px;
		margin: 0 auto;
	}
	}

.module-button-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 23px;
	height: 23px;
}
	@media screen and (min-width: 481px) {
	.module-button-close {
		top: -30px;
		right: -30px;
		width: 65px;
		height: 65px;
	}
		.module-button-close a:hover {
			opacity: 0.8;
		}
	}
