.page-header .page-header_title{
	margin:0;
}

/*index.html*/
.page-header .page-header_title .h1_campaign{
	background: url(../img/h1_campaign01.png) no-repeat center center;
	background-size:190px auto;
}
.campaign-main_inner{
	width:860px;
	margin:0 auto;
	padding:52px 0 100px;
}

.campaing-main-list01{
	margin-bottom:90px;
	border-bottom:1px solid #d1d1d1;
}
.campaing-main-list01 h2,
.campaing-main-list02 h2{
	height:44px;
	margin-bottom:10px;
	font-size:20px;
	font-weight:bold;
	line-height:2.2;
	text-align:center;
}
.campaing-main-list01 h2{
	background: url(../img/bg_ribbon01.png) no-repeat center top;
	background-size:290px 44px;
	color:#fff;
}
.campaing-main-list02 h2{
	background: url(../img/bg_ribbon02.png) no-repeat center top;
	background-size:290px 44px;
	color:#333;
}
.ul_list01{
	overflow:hidden;
}
.ul_list01 li{
	min-height:224px;
	padding:30px 0;
	border-bottom:1px solid #d1d1d1;
}
.ul_list01 li.last{border-bottom:none;}
.ul_list01 li figure{
	display: inline; 
	float: left; 
	margin-right:30px;
	width:294px;
	height:224px;
}
.ul_list01 li figure a:hover {
	opacity: 0.8;
}
.ul_list01 li figure img{
	width:100%;
	height:auto;
}
.ul_list01  li .ftBox{overflow:hidden;}
.ul_list01  li h3{
	margin-bottom:10px;
	font-size:20px;
	font-weight:bold;
	line-height:1.4;
	color:#333;
}
.ul_list01 li .txtWrap01{
  	width: 100%;
  	height:72px;
	margin-bottom:15px;
	font-size:14px;
	line-height:1.7;
	color:#333;
	letter-spacing:3px;
  	overflow: hidden;
	white-space: normal;
}
.ul_list01 li .time{
	margin-bottom:20px;
	font-size:14px;
	line-height:1.57;
	color:#666;
}
.ul_list01 li .button{
	text-align:right;
}
.ul_list01 li .btn_more01{
	display:inline-block;
	width:90px;
	height:26px;
	background: url(../img/btn_campaign0.png) no-repeat 0 0;
	background-size:90px 26px;
	white-space: nowrap;
	text-indent:9999px;
	overflow:hidden;
}
.ul_list01 li .btn_more01:hover{
	filter:alpha(opacity=65);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
}

@media screen and (max-width: 480px) {
.page-header .page-header_inner{
	padding:0 10px 8px;
}
.page-header .page-header_title{
	padding:10px 0;
}
/*index.html*/
.page-header .page-header_title .h1_campaign{
	background-size:151px auto;
	height:44px;
	overflow: hidden;
	text-indent: -9999px;
}
.campaign-main_inner{
	width:auto;
	padding:25px 20px 10px;
}
.campaing-main-list01{
	margin-bottom:27px;
	border-bottom:none;
}
.campaing-main-list01 h2,
.campaing-main-list02 h2{
	height:40px;
	margin:0;
	font-size:16px;
	line-height:2.5;
}
.campaing-main-list01 h2,
.campaing-main-list02 h2{
	background-size:auto 40px;
}
.ul_list01 li{
	min-height:224px;
	padding:30px 0;
	border-bottom:1px solid #d1d1d1;
}
.ul_list01 li figure{
	display:block; 
	float:none; 
	margin:0 0 15px 0;
	width:100%;
	height:auto;
}
.ul_list01  li h3{
	margin-bottom:6px;
	font-size:14px;
	line-height:1.5;
}
.ul_list01 li p{
  	height:100px;
	margin-bottom:15px;
	font-size:12px;
	line-height:1.67;
	letter-spacing:normal;
	-webkit-line-clamp: 5;
}
.ul_list01 li .time{
	margin-bottom:15px;
	font-size:10px;
	line-height:1;
}
.ul_list01 li .button{
	text-align:center;
}
.ul_list01 li .btn_more01{
	width:100px;
	height:27px;
	background-size:100px 27px;
}
}