.home-menu {
  $prefix: home-menu;

  @mixin ovf {
    overflow: hidden;
    text-indent: -9999px;
  }

  @mixin block ($left, $top, $width, $height, $x, $y) {
    left: $left;
    top: $top;
    width: $width;
    height: $height;
    background-position: $x $y;
  }

  .#{$prefix}_inner {
    position: relative;
    margin: 0 auto;
    width: 1020px;
    height: 215px;
  }

  .#{$prefix}_figure {
    @include ovf();
    position: absolute;
    left: 921px;
    top: 68px;
    width: 96px;
    height: 96px;
    background: url(/img/home_menu_figure.png) no-repeat 0 0;
  }

  @include applyDeviceWidth1100 {
    .#{$prefix}_inner {
      display: block;
      width: 300px;
      height: 220px;
    }

    .#{$prefix}_figure {
      display: block;
      top: 52px;
      right: 10px;
      left: inherit;
      width: 55px;
      height: 55px;
      -webkit-background-size: 55px 55px;
      background-size: 55px 55px;
    }
  }
}
