@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 14px;
	line-height: 1.7em;
	color: #333;
}
li {
	list-style-type: none;
}
li img {
	display: block;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#header {
	height: 100px;
}
#headerInner {
	margin-right: auto;
	margin-left: auto;
	height: 60px;
	background-color: #e3e3e3;
}
#logo{
	width: 242px;
	height: 37px;
	float:left;
	padding-top: 10px;
}
#design {
	font-size: 12px;
	color: #666;
	font-weight: lighter;
	width: 470px;
	line-height: 14px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	padding-left: 30px;
}
#fixedBox {
	height: 50px;
	width: 220px;
	margin-top: -47px;
	position: fixed;
	z-index: 10000;
	margin-left: 750px;
}
#navi {
	height: 60px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#header ul {
	height: 25px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-top: 30px;
}
#header ul li {
	float: left;
	width: 193px;
	font-size: 18px;
	text-align: center;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #adadad;
}
#g-nabi {
	background-color: #FFF;
	height: 50px;
}
a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
a {
    padding:    2px;
    width:        100%;
    height:        100%;
    text-decoration:none;        /*　アンダーライン非表示　*/
    }
a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
a:link {
	color:#333;
}
a:visited{
	color:#333;
}a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#footer {
	margin-top: 70px;
	background-color: #e3e3e3;
	height: 70px;
}
#footerInner {
	width: 980px;
	margin-right: auto;
	padding-top: 10px;
	margin-left: auto;
	height:40px;
}
#footerInner h1 {
	float: left;
	height: 37px;
	width: 242px;
}
#footerInner ul li{
	float: left;
	font-size: 16px;
		text-align: center;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #adadad;
	width: 139px;
}
#footerInner ul {
	width: 700px;
	height: 37px;
	float: right;
	padding-top: 15px;	
}
#footer h2 {
	font-size: 14px;
	width: 400px;
	font-weight: normal;
	line-height: 120%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#footerInner p {
	width: 100px;
	height: 30px;
	float: right;
	margin-right: 30px;
	margin-top: 18px;
}
#breadCrumbs {
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 4px;
	overflow: hidden;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#breadCrumbs li {
	float: left;
	margin-left: 6px;
}

#contents {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top:30px
}
#maincontents {
	width: 980px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#mainInner {
	width: 800px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#s2 {
	float: left;
	margin-left: 90px;
	margin-top: -22px;
}
#mainInner li {
	float: left;
}
#sale2 {
	margin-top: 50px;
}
#sale1 {
	height: 340px;
	margin-right: auto;
	margin-left: auto;
}
#s4 {
	float: left;
	margin-left: 90px;
}
#sale2 {
	height: 340px;
	margin-right: auto;
	margin-left: auto;
